.App {
  text-align: center;
}

:root {
  --main-color: #e88f0b;
  --sec-color: #d7850b;
  --ter-color: #f8f9fa;
}

img {
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
