.App {
  text-align: center;
}

.btn-main-color {
  background-color: #e88f0b;
}

.btn-sec-color {
  background-color: #f8f9fa;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
